<div class="container">
  <div class="text-color-3 text-center logo-title">Invest</div>
  <div class="buttons-container mb-4">
    <%=link_to "Log In","/login",class:"btn btn-primary"%>
    <%=link_to "Sign Up","/users/new",class:"btn btn-light"%>
  </div>
</div>
