        
<ul class="navbar-nav mr-auto">
  <% if logged_in? %>
    <i class="fa fa-user-o" aria-hidden="true"></i>
    <li class="nav-item">
      <%= current_user.name %>
      <hr>
    </li>
    <li class="nav-item">
      <%= link_to "All my transactions", '/transactions', class: "navbar-brand" %>
    </li>
    <li class="nav-item">
      <%= link_to "All my external transactions", '/transactions', class: "navbar-brand" %>
    </li>
    <li class="nav-item">
      <%= link_to "All groups", '/groups', class: "navbar-brand" %>
    </li>
  <%end%>
</ul>
