body {
  height: 100vh;
}

.btn-primary {
  background-color: #3678c2;
}

.invest-bg-secondary {
  background-color: #60b524;
}

.text-color-1 {
  color: #434c55;
}

.text-color-2 {
  color: #555e67;
}

.text-color-3 {
  color: #878a8f;
}

.text-color-4 {
  color: #989da3;
}

.navbar-primary {
  background-color: #3678c2;
  color: white;
  margin-bottom: 1rem;
  i {
    color: white;
  }
  .title {
    text-transform: uppercase;
  }
  button,
  input {
    border: none;
    background-color: transparent;
    color: white;
  }
}

.add-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background-color: #60b524;
  .btn {
    width: 100%;
    border: 1px solid white;
    padding: 1rem;
    border-radius: 0;
    background-color: #60b524;
    font-size: 1.5rem;
  }
}
