<h1>All my transactions</h1>
<p>Sorted by most recent</p>
<%= link_to "New transaction", new_transaction_path, class: "btn btn-success" %>
<hr>
<p>Total</p>
<div class="list-group">
<% @transactions.each do |transaction| %>
  <div href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between align-items-center">
      <h5 class="mb-1"><%= transaction.name %></h5>
      <small class="text-muted"><%= transaction.created_at %></small>
    </div>
  </div>
<% end %>
</div>
